@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.bottom-screen,.nav-items {
    display: none; 
}
main,body{
    font-family: 'Poppins', sans-serif;
}
.nav-li{
  font-size: 1.3rem;
  /* background-color: rgb(22, 30, 36); */
  border-radius: 50px;
  margin-left: .3rem;
  font-weight: 500;
}

.nav-li.active {
  background-color:  rgba(41, 83, 155, 1);
  color: #ffffff;

 
}
@media only screen and (max-width: 600px) {
    .bottom-screen{
        display: flex; 
        align-items: center;
        justify-content: space-around;
        width: 100%;
        background-color:#ffffff;
        /* box-shadow: 2px 2px 2px #2d5bae; */
        position: fixed; /* Uncommented for fixed positioning */
        bottom: 0; /* Position at the bottom */
        height: 4rem; /* Set height */
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        box-shadow: 0px -2px 20px 0px darkgrey;
    }
    .nav-items{
        display: block;
    }
    .more, .more-nav{
      display: block;
    }
    .teams-nav,.cont-nav{
      display: none;
    }
    .event-wrap{
      display: flex;
      flex-direction: column;
    }
    .event-main,.eve-link{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* padding-top: 2rem; */
      gap: 2rem;
    }
    .ele-a,.ele-b{
      width: 100% !important;
    }
    .ele-b{
      border-top: 2px solid black;
      border-right: none;
    }
    .ele-a{
      border-right: none !important;
      min-height: max-content !important;
      padding: .3rem 0 .3rem  0 ;
    }
    .eve-cover{
      width: 80%;
    }
    .mem-li-cover,.lead-co-cover{
      display: grid;
      gap: 1.5rem;
      grid-template-columns: auto  !important;
    }
    .cont-wrap{
      display: flex;
      flex-direction: column !important;
      text-align: center;
      gap: 1rem;
    }
    .home::after{
      content: '\f015' !important;
      font-family: 'Font Awesome 6 Free';
      font-weight: 900; /* solid style */
      /* margin-left: 5px; */
    }
    .ticket::after {
      content: '\f145'!important;
      font-family: 'Font Awesome 6 Free';
      font-weight: 900;
      margin-left: 5px;
    }
    .news::after {
      content: '\f1ea'!important;
      font-family: 'Font Awesome 6 Free';
      font-weight: 900;
      margin-left: 5px;
    }
    .more::after {
      content: '\f0c9'!important;
      font-family: 'Font Awesome 6 Free';
      font-weight: 900;
      margin-left: 5px;
    }
    .eve-cover{
      width: 90% !important;
    }
    .home-img-mix{
      display: flex;
      flex-direction: column;
    }
    .yuva-logo{
      width: 13rem;
    }
.abt-us-wrap{
  display: flex;
flex-direction: column;}
.abt-us , .exe-eve{
  width: 100% !important;
  flex-direction: column !important;
}
.exe-eve-div, .exe-eve-div2 ,.exe-info{
  width: 100% !important;
}
.imgs-yi{
  width: 90%;
}
.yil0go1{
  height: 20rem !important;
}
footer{
  margin-bottom: 3.4rem;
}
}
.art-out-wrap{
  /* background-color: aquamarine; */
  padding: 0 8rem 0 8rem;
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem; 
}
.art-meta-info-head{
  font-size: larger;
  font-weight: 586;
}
.art-main-wrap{
  height: max-content !important;
  /* background-color: pink; */
  padding: 1rem;
  border: 3px solid  rgb(136, 158, 198);
  border-radius: 20px;
  height: 20rem;
}
.art-main-wrap:hover{
  background-color: rgb(239, 251, 255);
}
.art-main-wrap img{
  border-radius: 20px;
}
.art-wrap{
  /* padding: 0 4rem 0 rem ; */
  width: 86%;
}
.art-h1{
  font-size: 2rem;
  font-weight: 500;
}
.art-h2{
  font-size: 1.4rem;
  font-weight: 800;
}
.art-p{
  font-size: large;
}
.yuva-eves, ul{
  padding-left: 2rem;
  list-style: disc;
}
.about-us{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.abt-us{
  padding: 2rem;
  width: 90%;
  background-color:rgb(210, 228, 249);
  font-size: large;
   line-height: 180%;
   border-radius: 20px;
   box-shadow: 5px 5px 15px 0px rgb(186, 186, 186);
}
.exe-eve{
  display: flex;
  padding: 2rem 2rem 3rem 2rem;
  width: 90%;
  background-color:rgb(255, 255, 255);
  font-size: large;
   line-height: 180%;
   border-radius: 20px;
   box-shadow: 5px 5px 15px 0px rgb(186, 186, 186);
}
.exe-eve-div{
  width: 65%;
  padding-left: 1rem;
}
.exe-eve-div2{
  width: 35%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.abt-us p{
  padding-left: 1.2rem;
  justify-content: center;
  padding-bottom: 1rem;
}
.eve-exe-logo{
  padding-left: 0 !important;
}

.abt-us-wrap{
  display: flex;
}
.yil0go1{
  height: 24rem;
  border-radius: 20px;
  /* margin: 2.6rem; */
}
  .yil0go2,.yil0go3{
  height: 20rem;
  border-radius: 20px;
  margin: 2.6rem;
}
.yuva-info{
  font-family: poppins;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
.yuva-info-p{
  font-size:1.5rem;
}
.imgs-yi{
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* width: 60%; */
  /* background-color: aqua; */
  margin: 4rem;
}
.yil0go2{  z-index: -1;
  /* padding-left: 10rem; */
  /* position: fixed; */
}

.sub-logo{
  padding: 0  ;
}
main{
  margin: 0 1rem 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav-wrap{
  display: flex;
  flex-direction: column;
  gap: -2px;
}
.to-high{
  font-weight: bold;
  align-self: flex-start;
}
.pg-heading{
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.exp-info-events{
  width: 80%;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* align-items: center; */
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: larger;
}
.all-rev{
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;

}
.hr-all-rev{
  width: 90%;
  /* align-items: center;
  justify-content: center;
  display: flex;} */
}
.main-logo {
    width: 100%;
    /* background-color: plum; */
    /* position: fixed; */
    /* top: 0; */
    /* height: 2.5rem; */
    font-size: 1.8rem;
   font-weight: bolder;
   padding: 1rem;
   color: rgba(41, 83, 155, 1);
}
.ct-imgs,.con-div-1{
 justify-content: center;
 align-items: center  ;
 display: flex;
 flex-direction: column ; 
 /* gap: 1rem; */
}
.ct-imgs img{
  max-height: 5rem;
  padding: .5rem;
}
.home-pg{
    text-align: center;
    font-style: normal;
    font-size: xx-large;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}
.contact-us{
  min-width: 33%;
}
.home-fotter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.home-fotter img{
    height: 4rem;
}
.pa-1{
    min-width: 30.333%;
    display: flex;
    flex-direction: column;
    
}
.contact-us-viit{
  font-size: small;
   letter-spacing: -.5px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.header-p2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.header-p2 span{
    padding: 1rem;
}
::-webkit-scrollbar {
    display: none;
  }
  .no-pg{
    display: flex;
    flex-direction: column;
    height: 86dvh;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .no-pg h1{
    font-size: x-large;
    font-weight: bold;
  }
  hr{
    background-color: rgb(107, 107, 107);
    height: 2px;
  }
  .cont-wrap{
    display: flex;
    flex-direction: row;
    width: 85%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .yuva-logo-ct-div{
    height: 5rem;
    align-items: center;
    justify-content: center;
  }
  .yuva-logo{
    padding: 0rem 0 2rem 0;

  }
  footer{
    align-items: center;
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .event-main,.eve-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-top: 2rem; */
    gap: 2rem;
  }
  .eve-head{
    font-size: 2.5rem;
    padding-top: 2rem;
    text-align: center;
  }
  .slinks a{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .slinks a:hover{
    color: rgba(41, 83, 155, 1);
    transition:cubic-bezier(0.075, 0.82, 0.165, 1)}
  .social-handles{
    padding-top: 2rem;
     font-size: 2.5rem;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
  }
  .eve-cover{
    min-height: 20rem;
    /* max-height: 20rem; */
    /* max-height:6rem; */
    border: 2px solid black;
    width: 75%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 10px 1px grey;
  }
  .ct-links{
    font-weight: 500;
    font-size: large;
  }
  .event-wrap{
    display: flex;
    /* flex-direction: row; */
  }
  .ele-a{
    min-height: 17.5rem;
    width: 45%;
    border-right: 2px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .ele-a img{
    padding: 1rem;
    border-radius: 30px;
  }
  .ele-b{
    width: 55%;
    padding: 2rem;
  }
    .ele-c{
    height: 2.5rem;
    border-top: 2px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: larger;
    font-weight: 500;
    font-stretch: expanded;
    /* background-color: #b1c7ef; */
  }  
  .main-tit{
    font-size:xx-large;
  }
 
  .info-ele{
    display: flex;gap: .1rem;
    flex-direction: column;
  }
  .more-info{
    padding: .5rem;
    text-overflow: ellipsis;
  }
  .team-mem{
    height: 14rem;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
    outline: 5px solid #98afda;
    border: 5px solid rgb(44, 88, 165); 
    outline-offset :-15px;
    /* border-image: linear-gradient(45deg, #ff6b6b, #f7b32b) 1; */
    padding: 1rem;
  }
  .mem-li-cover{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: auto  auto auto;
  }
  .lead-co-cover{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: auto auto;
    padding-bottom: 1.5rem ;
  }
  .mem-info{
    font-size: large;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .mem-info i{
    font-weight: normal;
  }
  .home::before{
 content: "";

  }
  .home::after{
    content: "Home";
  }
  .ticket::after{
    content: "Events";
  }
  .news::after{
    content: "Articles";
  }