.btn{
    border-color: #162630;
    color: #e6e6e6;
    background: linear-gradient(45deg, transparent 50%,  #1d3646 50%);
    background-size: 400%;
    background-position: 25%;
    transition: background 500ms ease-in-out, color 500ms ease-in-out;
    font-size: 15px; 
    border: 3px solid #627f93;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    font-weight: 700;
  }
  
  .btn:hover {
    border-color: #627f93;
    background-position: 100%;
  }
  